<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Sign in</h1>
    <form action="/auth/sign-in" method="POST">
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
      </div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">Sign in</button>
    </form>
    <p style="padding-bottom: 20px;">Don't have an account? <a href="/auth/sign-up">Sign up here</a></p>
  </body>
</html>
